<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <body class="leaguebody">
        <header>
            <nav>  
                <ul>
                    <li class="logo"><a href="/"><img src="{{ url_for('static',filename='pillow.png') }}" alt="Logo" height="30px"></a></li>
                    <li><a href="/about"> About </a></li>  
                    <li><a href="/contact"> Contact </a></li>
                </ul>  
            </nav>  
        </header>
        <div class="content">
            <table class="leaguelist">
            {% for i in range(total_leagues) %}
            <tr>
                <td><a href="/viz?league_id={{league_ids[i]}}">{{league_names[i]}}</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
</html>