<html>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    <body class="leaguebody">
        <header>
            <nav>  
                <ul>
                    <li class="logo"><a href="/"><img src="{{ url_for('static',filename='pillow.png') }}" alt="Logo" height="30px"></a></li>
                    <li><a href="/about"> About </a></li>  
                    <li><a href="/contact"> Contact </a></li>  
                    <li><a href="/terms"> Terms of use </a></li>  
                    <li><a href="/join"> Join Us </a></li>  
                </ul>  
            </nav>  
        </header>
        <div class="content">
            <table class="leaguelist">
            {%for j in range(0, height)%}
            <tr>
                {%for i in range(0, width+1)%}
                {%if (j * width + i) < total_leagues%}
                <td>
                    <a href="/viz?league_id={{league_ids[(j * width + i)]}}">{{league_names[(j * width + i)]}}</a>
                </td>
                {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
            </table>
        </div>
    </body>
</html>
</html>