<html>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    <body class="leaguebody">
        <header>
            <nav>  
                <ul>
                    <li class="logo"><a href="/"><img src="{{ url_for('static',filename='pillow.png') }}" alt="Logo" height="30px"></a></li>
                    <li><a href="/about"> About </a></li>  
                    <li><a href="/contact"> Contact </a></li>  
                    <li><a href="/terms"> Terms of use </a></li>  
                    <li><a href="/join"> Join Us </a></li>  
                </ul>  
            </nav>  
        </header>
        <div class="content">
            <ul class="leaguelist">
                {%for i in range(0, length)%}
                <li>
                    <a href="/dash?league_id={{league_ids[i]}}">{{league_names[i]}}</a>
                </li>
                {%endfor%}
            </ul>
        </div>
    </body>
</html>
</html>