html { font-family: sans-serif; background: #17263a; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: #17263a; }
h1 { font-family: serif; color: #ffffff; margin: 1rem 0; }
input[type=submit] { align-self: start; min-width: 10em; }